<% if logged_in? %>
    <body class="default">
    <br><br>
    <h1 class="sub">My Dashboard</h1>

    <h3>Your Tutors</h3>
    <ul class ="sessions">
      <% unless @sessions_student.empty? %>
        <% i = 0 %>
        <% while i < @sessions_student.count do %>
        <% conversation = @conversations_student[i].id %>
          <li>
            <%= gravatar_for @tutors[i], size: 40 %>
            <%= @tutors[i].name %>
            <br>
            <%# "Session ID: " + @sessions_student[i].id.to_s %>
            <% string = "Conversation #" + conversation.to_s %>
            <%= link_to string, message_path(conversation.to_s) %>
            <% i += 1%>
          </li>
        <% end %>
      <% else %>
        <p>No tutors? <%= link_to "Find a tutor!", users_path, class: "noclient" %></p>
      <% end %>
    </ul>


    <h3>Your Students</h3>
    <ul class ="sessions">
      <% unless @sessions_tutor.empty? %>
        <% i = 0 %>
        <% while i < @sessions_tutor.count do %>
        <% conversation = @conversations_tutor[i].id %>
        <li>
          <%= gravatar_for @students[i], size: 40 %>
          <%= @students[i].name %>
          <br>
          <%# "Session ID: " + @sessions_tutor[i].id.to_s %>
          <% string = "Conversation #" + conversation.to_s %>
          <%= link_to string, message_path(conversation.to_s) %>
          <% i += 1%>
        </li>
        <% end %>
      <% else %>
        <p>No students? <%= link_to "Find a student!", users_path, class: "noclient" %></p>
      <% end %>
    </ul>

    </body>
<% else %>
  <body class="home">
  <br><br><br><br><br><br><br><br>
  <h1 class="intro">WELCOME TO EDXUCLA</h1>
  <hr>
    <div class="center">
      <h1 class="sub">Your learning and teaching connection</h1>

      <p class="sub">
        Sign up today and get a private tutor just for you, or you can learn more about us from our <a href="#feature" class="noclient">features</a>
      </p>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <h1 class="black">Features</h1>
  <hr><br>
  <div id="feature" class="container">
    <div class="col-lg-3 col-md-6 text-center">
      <div class="service-box">
        <img class="icon" src="/1.png">
        <h3 class="black">Message board</h3><br>
        <h5 class="grey">Chat with your tutors or students anywhere and anytime</h5>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 text-center">
      <div class="service-box">
        <img class="icon" src="/2.png">
        <h3 class="black">Private Tutor</h3><br>
        <h5 class="grey">Find your dream tutor based on your profile and your need</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
      <div class="service-box">
        <img class="icon" src="/3.png">
        <h3 class="black">24 Hour Service</h3><br>
        <h5 class="grey">Studying late at night? No problem! Our service runs 24/7</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
      <div class="service-box">
        <img class="icon" src="/4.png">
        <h3 class="black">Dream job</h3><br>
        <h5 class="grey">Always dream of being a teacher? Sign up today and join out tutor family</h5>
      </div>
    </div>
  </div>
  </body>

<br><br><br><br><br><br>
<% end %>

