<% provide(:title, 'Search Results') %>
<body class="default">

<br><br><h1>Search Results</h1>

<% unless @search_result_type.empty? %>
  <%= will_paginate %>
      <ul class="results">
        <% i = 0 %>
        <% if @search_result_type == "courses" %>
          <% while i < @search.count do %>
            <% course = @search[i] %>
            <% unless course.nil? %>
              <li>
                <%= link_to course.name, :type => "User-courses", :input => course.id %>
                <%= "("+course.alias+")" %>
                <br>
                <%= link_to @educations[i].name, :type => "Courses-education", :input => @educations[i].id if @educations[i] %>
                <br>
                <%= link_to "Department: " +course.department, :type => "Courses-department", :input => course.department %>
              </li>
            <% end %>
            <% i +=1 %>
          <% end %>
        <% elsif @search_result_type == "educations" %>
          <% while i < @search.count do %>
            <% education = @search[i] %>
            <% unless education.nil? %>
              <li>
                <%= link_to education.name, :type => "Courses-education", :input => education.id %>
                <%= "("+education.alias+")" %>
              </li>
            <% end %>
            <% i +=1 %>
          <% end %>
        <% elsif @search_result_type == "users" %>
          <% while i < @search.count do %>
            <% user = @search[i] %>
            <% unless user.nil? %>
              <li>
                <%= gravatar_for user, size: 50 %>
                <%= link_to user.name, user %>
              </li>
            <% end %>
            <% i +=1 %>
          <% end %>
        <% end %>
      </ul>
  <%= will_paginate %>
<% end %>
</body>