<% provide(:title, @user.name) %>
<body class="default">

<br><br><h1 class="sub">Profile</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1><br>
      <% if(@isCorrectUser) %>
        <%= link_to "Edit Profile", '/edit_profile', class: "btn btn-md btn-primary" %>
      <% end %>

    <% if !@education_users.blank? %>
    
      <br><br><h3>Education</h3>
      <% @educations.each do |education| %>
        <h4 class="education"><%= education.name %></h4>
          <% i = 0 %>
          <% if !@course_users[@counter].blank?%>
          <% end %>
          <ul>
          <% while i < @course_users.count do %>

            <% course_users = @course_users[i] %>
            <% if @counter == i %>
              <% course_users.each do |course| %>
                <li><%= course.course_name.to_s + " " +
                        " (" +
                        course.course_alias.to_s + ") "
                 %></li>
              <% end %>
            <% end %>
            <% i +=1 %>
          <% end %>
          </ul>
          <% @counter += 1%>
      <% end %>
    <% end %>



    </section>
  </aside>
</div>
</body>