<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-9">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name + " #" + @user.id.to_s %>
      </h1>

      <% if(@isCorrectUser) %>
        <%= link_to "Edit Profile", '/edit_profile', class: "btn btn-md btn-primary" %>
      <% else %>
        <%= button_to "Request Tutor", {action: 'show_tutor', controller: 'user_request', user: @user.id}, {form_class: 'button-to-form', class: "btn btn-md btn-primary button-to-mod"} %>

        <%= button_to "Request Student", {action: 'show_student', controller: 'user_request', user: @user.id}, {form_class: 'button-to-form', class: "btn btn-md btn-primary button-to-mod"} %>

        <% if false %>
        <% end%>
      <% end %>

    <% if !@education_users.blank? %>
      <h3>Education</h3>
      <%  @educations.each do |education| %>
        <h4><%= education.name %></h4>
          <% i = 0 %>

          <% if !@course_users[@counter].blank?%>
            <h4>Courses</h4>
          <% end %>
          <ul>
          <% while i < @course_users.count do %>

            <% course_users = @course_users[i] %>
            <% if @counter == i %>
              <% course_users.each do |course| %>
                <li><%= course.course_name.to_s + " " +
                        " (" +
                        course.course_alias.to_s + ") "
                 %></li>
              <% end %>
            <% end %>
            <% i +=1 %>
          <% end %>
          </ul>
          <% @counter += 1%>
      <% end %>
    <% end %>



    </section>
  </aside>
</div>