<% provide(:title, "Messages") %>
<body class="default">
  <% if @conversation_error == true %>
    <h2>
      <%= @conversation_error_message %>
    </h2>
  <% else %>
  <% last_message = [] %>
  <div class="container messenger-container">
    <div class="row messenger-top-row">
        <div class="col-lg-3">
           <div class="col-lg-6 message-header">
            <div>
              <h2 class="message-other-user">
                <% active_user = @users[@active_conversation] %>
                <%= link_to active_user.name + " #" + active_user.id.to_s, active_user %>
              </h2>
            </div>
          </div>
        </div>
    </div>

    <div class="row messenger-middle-row">
      <% i = 0 %>
        <div class="conversation-wrap col-lg-3">
          <% while i < @conversations.count do %>
            <div class="media conversation" 
            <% if i == @active_conversation %>
             style= "background-color: #365899"
            <% end %>
             >
              
              <%= link_to message_path(@conversations[i].id) do %>
                <span class="conversation-span"></span>
              <% end %>
              <a class="pull-left" href="#">
                  <%= gravatar_for @users[i], size: 50 %>
              </a>
              <div class="media-body">
                <h5 class="media-heading">
                  <%= @users[i].name + " #" + @users[i].id.to_s %>
                </h5>
                <small>
                  <% excerpt = @messages[i][-1][:message] %>
                  <% if excerpt.size < 12 %>
                    <%= excerpt %>
                  <% else %>
                    <%= excerpt[0,15] + "..." %>
                  <% end %>
                </small>
              </div>
            </div>
             <% i += 1%>
             <% end %>
        </div>
    
      <div>
        <div class="message-wrap col-lg-8">
          <% j = 0 %>
          <div class="messages-wrap" id="messages-wrap">
            <% while j < @messages[@active_conversation].count do %>
              <% message = @messages[@active_conversation][j] %>
              <% other_user = @users[@active_conversation] %>
              <div class="msg-wrap">
                <div class="media msg">
                  <a class="pull-left" href="#">
                    <%= gravatar_for other_user, size: 35 %>
                  </a>
                  <div class="media-body">
                    <small class="pull-right time white">
                      <%= message.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m/%d/%Y %I:%M%p") %>
                    </small>

                    <h5 class="media-heading">
                      <% if message.sender == other_user.id %>
                        <%= other_user.name + " #" + other_user.id.to_s %>
                      <% else %>
                        <%= @user.name + " #" + @user.id.to_s%>
                      <% end %>
                    </h5>
                    <small class="col-lg-10 message-text">
                      <%= message.message %>
                    </small>
                  </div>
                </div>
              </div>

              <% j += 1 %>
            <% end %>
            <% last_message = @messages[@active_conversation][j-1] %>
          </div>

          <% gravatar_user = get_gravatar_for @user, size: 35 %>
          <% gravatar_other_user = get_gravatar_for active_user, size: 35%>


          <div class="send-wrap ">
            <table style="width:100%">
            <tr>
            <%= form_tag("/send_message", remote: true, id: "message-submission") do %>
              <%= text_area_tag "message", nil ,:size => "30x2", placeholder: "Type a message", class: "black form-control send-message", id: "send-message" %>
              <%= hidden_field_tag :user, active_user.id, class: "message-user", id: "message-other-user-id" %>

              <%= hidden_field_tag :active_user_name, active_user.name, class: "message-user", id: "message-other-user-name" %>

              <%= hidden_field_tag :active_user_gravatar, gravatar_other_user, class: "message-user", id: "message-other-user-gravatar" %>

              <%= hidden_field_tag :user_id, @user.id, class: "message-user", id: "message-user-id" %>

              <%= hidden_field_tag :user_name, @user.name, class: "message-user", id: "message-user-name" %>

              <%= hidden_field_tag :gravatar_url, gravatar_user, class: "message-user", id: "message-user-gravatar" %>

              <%= hidden_field_tag :last_time, last_message.created_at.to_i, class: "message-user", id: "message-last-time" %>

              <%= hidden_field_tag :last_message_id, last_message.id, class: "message-user", id: "message-last-id" %>
            </tr>
            <tr>
              <span class="input-group-btn send-message-btn">
                <%= submit_tag "Send", :user => active_user.id, class: "btn btn-primary", type: "button", id: "message-submit", onclick: "submitMessage()" %>
              </span>
            </tr>
            </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</body>