<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "edxUCLA", root_path, id: "logo" %>
    <nav>

      <div class="col-xs-6">
        <form class="form-inline custom-search-bar" action="/search">
          <table>
            <tr>
              <div class="input-group input-group-sm">
                <select class="form-control" id="search-type" name="type">
                  <option>Course</option>
                  <option>Department</option>
                  <option>Education</option>
                  <option>User</option>
                </select>
              </div>
            </tr>
            <tr>
            <div class="input-group input-group-sm search-input">
              <input type="text"  class="form-control" placeholder="Search" name="input"/>
                <span class="input-group-btn">
                  <button class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </span>
            </div>
            </tr>
          
          </table>
          </form>
      </div>
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
	      <% if logged_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Messages", chat_path %></li>
          <li><%= link_to "Notifications", requests_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
